<template>
  <div class="chat">
    <div class="chat__header">
      <h1 class="chat__title">Sorting Hat Quiz</h1>
    </div>
    <div class="chat__body">
      <transition name="name-message">
        <message from="system" title="What is your name?">
          <form @submit.prevent="saveName" class="name" v-if="name === ''">
            <input class="name__input" required v-model="nameInput" />
            <button class="send" type="submit">
              <img class="send__img" :src="require('@/assets/send.png')" />
            </button>
          </form>
        </message>
      </transition>
      <TransitionGroup name="messages" tag="div">
        <template v-for="(item, index) in messages">
          <message
            :key="'message' + index"
            v-if="!item.isQuestion"
            :from="item.from"
            :title="item.title"
          ></message>
          <question
            :key="'message' + index"
            v-else
            :question="item.question"
            @answer="getAnswer"
          />
        </template>
      </TransitionGroup>
      <transition name="fade">
        <button class="btn btn--active complete" v-if="isCompleted">
          Do you want to repeat the test?
        </button>
      </transition>
      <div ref="bottomReference" class="reference"></div>
    </div>
  </div>
</template>
<script>
import Message from "@/components/Message.vue";
import Questions from "@/data/sorting_hat.json";
import Question from "@/components/Question.vue";
import { mapActions, mapGetters, mapState } from "vuex";
export default {
  name: "Chat",
  data() {
    return {
      messages: [],
      nameInput: "",
      nameProvided: false,
    };
  },
  components: { Message, Question },
  computed: {
    ...mapState("hat", ["question_stack", "question_index", "name"]),
    ...mapGetters("hat", ["getSchool"]),
    isCompleted() {
      return this.question_index === Questions.length;
    },
  },
  mounted() {},
  methods: {
    ...mapActions("hat", ["pushQuestion", "setName"]),
    addQuestion() {
      if (!this.isCompleted) {
        let question = Questions[this.question_index];
        this.messages.push({
          from: "system",
          question,
          isQuestion: true,
        });
      } else {
        this.messages.push({
          from: "system",
          title:
            "Congratulations you have been assigned to " + this.getSchool + "!",
          isQuestion: false,
        });
      }
    },
    saveName() {
      this.setName(this.nameInput);
      this.messages.push({
        from: "user",
        title: this.name,
      });
      this.messages.push({
        from: "system",
        title:
          "Please answer the following questions to decide which house you will belong to:",
      });
      this.addQuestion();
    },
    getAnswer(answer) {
      this.pushQuestion(answer);
      this.messages.push({
        from: "user",
        title: answer.title,
      });
      /*
       * Sroll before add the next question because If you were attending Hogwarts, which pet would you choose to take with you?
       * has to many options and the user have to scroll all the way up to read the question if scroll after the app render it.
       */
      this.$refs.bottomReference?.scrollIntoView({
        behavior: "smooth",
      });
      this.addQuestion();
    },
  },
};
</script>
<style lang="scss" scoped>
.chat {
  padding: 10px;
  max-width: 1024px;
  height: 100vh;
  box-sizing: border-box;
  margin: 0 auto;
  overflow-x: hidden;
}
.chat__title {
  font-size: 26px;
  text-align: center;
  font-weight: 400;
}
.name-title {
  display: block;
}
.name {
  max-width: 300px;
  position: relative;
}
.name__input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.send {
  position: absolute;
  right: 5px;
  line-height: 0;
  top: calc(50% - 15px);
  background: transparent;
  border: none;
  cursor: pointer;
}
.send__img {
  width: 24px;
  height: 28px;
}
.reference {
  height: 1px;
  margin-top: 140px;
}
.complete {
  display: block;
  margin: 29px auto 0;
}

//Messages transitions.
.message--user.messages-move,
.message--user.messages-enter-active,
.message--user.messages-leave-active {
  transition: all 0.5s 0.3s ease;
}
.messages-move,
.name-message-enter-active,
.messages-enter-active,
.messages-leave-active {
  transition: all 0.5s 0.8s ease;
}

.messages-enter,
.name-message-enter,
.name-message-leave-to,
.messages-leave-to {
  opacity: 0;
  transform: translateX(-30px);
  position: absolute;
}

.message--user.messages-enter,
.message--user.messages-leave-to {
  transform: translateX(30px);
}

//retry button transitions.
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>