<template>
  <div
    class="message mb-default"
    :class="{
      'message--user': from === 'user',
    }"
  >
    <div
      class="message__body"
      :class="{
        'message__body--system': from === 'system',
        'message__body--user': from === 'user',
      }"
    >
      <span class="title mb-default">{{ title }}</span>
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  name: "Message",
  props: {
    from: {
      type: String,
      default: "system",
      validator(value) {
        // The value must match one of these strings
        return ["system", "user"].includes(value);
      },
    },
    title: {
      type: String,
      default: "",
    },
  },
};
</script>
<style lang="scss" scoped>
@import "@/scss/variables";
.message {
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.message--user {
  justify-content: flex-end;
}
.message__body {
  padding: 10px 14px;
  width: 90%;
  border-radius: 10px;
}
.message__body--system {
  background-color: $systemMessages;
  border-top-left-radius: 0;
}
.message__body--user {
  background-color: $clientMessages;
  border-top-right-radius: 0;
}
.title {
  display: block;
  font-weight: 700;
}
</style>
