<template>
  <message from="system" :title="question.title">
    <Transition name="choice">
      <div class="choices" v-if="localIndex === question_index">
        <button
          v-for="(item, index) in question.answers"
          :key="'question' + localIndex + 'choice' + index"
          class="btn btn--question mb-default"
          @click="
            () => {
              sendAnswer(item);
            }
          "
        >
          {{ item.title }}
        </button>
      </div>
    </Transition>
  </message>
</template>
<script>
import Message from "@/components/Message.vue";
import { mapState } from "vuex";
export default {
  name: "Question",
  data() {
    return {
      localIndex: 0,
    };
  },
  components: { Message },
  props: {
    question: {
      type: Object,
    },
  },
  computed: {
    ...mapState("hat", ["question_index"]),
  },
  mounted() {
    console.log(this.question_index);
    this.localIndex = this.question_index;
  },
  methods: {
    sendAnswer(item) {
      this.$emit("answer", item);
    },
  },
};
</script>
<style lang="scss" scoped>
.btn--question {
  width: 100%;
  text-align: left;
}

//choices animation
.choice-enter-active,
.choice-leave-active {
  transition: all 0.2s ease;
}

.choice-enter,
.choice-leave-to {
  opacity: 0;
}
</style>