<template>
  <div id="app">
    <chat />
  </div>
</template>

<script>
import Chat from "@/components/Chat.vue";
export default {
  name: "App",
  components: { Chat },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import "@/scss/general";
</style>
