@import "@/scss/variables";
body {
    margin: 0;
}
#app {
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
//standard button style
.btn {
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid $action;
    padding: 5px 10px;
}
.btn:hover,
.btn--active {
    color: #fff;
    background-color: $action;
}
//Standard margin for all app
.mb-default {
    margin-bottom: 10px;
}
